<form action="/create_room" method="post">
  <label>Room Name: </label> <input type="text" name="name"><br>
  <label>Room Description: </label> <input type="text" name="description"><br>
  <lable>Background Image UR:: </lable><input class="form-control" type="text" name="background_image"><br>
  <input type="Submit">
</form>
